/* Fonts */
$default-text-size: 17px
$title-text-size: 20px

/* Colors */
// Text
$text-default: #666666
$text-title: #1d5882
$text-on-theme: white
$warning-background: #dba12f

// Backgrounds
$background-base: linear-gradient(to bottom, white, #ddd)
$background-base-2: #d9d9d9
$background-theme: #73acea
$light-background-theme: rgba(115, 172, 234, 0.25)
$button-theme: $background-theme

// Borders
$border-default-color: #ddd

/* Miscellaneous */
$max-width: 800px
$black-veil: rgba(0, 0, 0, 0.3)
$user-location-color: #ea6090
@mixin using-transition($name)
  transition: $name 200ms ease